---
layout: single
---

<a target="_blank" href="https://unstats.un.org/capacity-development/UNSD-FCDO/{{ page.slug }}/">FCDO link</a>

<h2>Platform</h2>

{% if page.info.platform.url %}
<div>
    <a href="{{ page.info.platform.url }}" target="_blank">{{ page.info.platform.url }}</a>
</div>
{% endif %}

{% if page.info.platform.system %}
<div>{{ page.info.platform.system }}</div>
{% endif %}

<div>Status: {{ page.info.platform.status }}</div>

{% if page.info.platform.examples %}
<h2>Examples</h2>
{% for example in page.info.platform.examples %}
    {% assign example_value = example[1] %}
    {% assign example_value_is_link = false %}
    {% assign startsWith = 'http' %}
    {% assign example_value_starts = example_value | slice: 0, 4 %}
    {% if example_value_starts == 'http' %}
        {% assign example_value_is_link = true %}
    {% endif %}
    <div>
    {{ example[0] | capitalize }}:
    {% if example_value_is_link %}
        <a target="_blank" href="{{ example_value }}">Link</a>
    {% else %}
        {{ example_value }}
    {% endif %}
    </div>
{% endfor %}
{% endif %}

<h2>Data</h2>

<div>Status: {{ page.info.data.status }}</div>
{% if page.info.data.disaggregation %}
<div>Disaggregation: {{ page.info.data.disaggregation }}</div>
{% endif %}
{% if page.info.data.details %}
<div>Details: {{ page.info.data.details }}</div>
{% endif %}
{% if page.info.data.sdg_build %}
<div><a href="sdg-build/">Data summary</a></div>
{% endif %}
{% if page.info.data.sdg_build_remote %}
<div><a href="{{ page.info.data.sdg_build_remote }}">Data summary</a></div>
{% endif %}

<h2>Metadata</h2>

<div>Status: {{ page.info.metadata.status }}</div>
{% if page.info.metadata.details %}
<div>Details: {{ page.info.metadata.details }}</div>
{% endif %}

{% if page.info.issues.size > 0 %}
<h2>Issues</h2>
<ul>
{% for issue in page.info.issues %}
    <li>{{ issue }}</li>
{% endfor %}
</ul>
{% endif %}

{% if page.info.notes.size > 0 %}
<h2>Notes</h2>
<ul>
{% for note in page.info.notes %}
    <li>{{ note }}</li>
{% endfor %}
</ul>
{% endif %}